.primary,
.button-def.primary:active,
.button-def.primary:focus {
  background-color: #e59a05;
  color: #fff !important;
}
.button-def.primary:hover {
  color: #fff;
  background-color: #c77c00;
  border: 0px;
}
.button-def.primary:hover i {
  color: #fff;
}
.secondary,
.button-def.secondary:active,
.button-def.secondary:focus {
  background-color: rgba(241,241,241,0.7);
  color: #555555;
}
.button-def.secondary:hover,
.wrapper-mbox div.m-box-inner div.body td.left-p div.buttons table td.left a:hover {
  color: #fff;
  background-color: #e59a05;
  border: 0px;
}
.button-def.secondary:hover i {
  color: #fff;
}
div.descriptive div.descriptive-tabs-wrap ul.tabs li.active.mainColor {
  background-color: #e59a05;
  color: #fff;
}
@media (min-width: 1200px) {
  div.gallery-block div.gallery-img:hover div.corner-line.mainColor {
    border-color: #e59a05;
  }
  div.news div.slider-news.mainColor .slick-prev:hover,
  div.news div.slider-news.mainColor .slick-next:hover,
  .open-box.no-empty:hover {
    background-color: #c77c00;
  }
}
@media (max-width: 767px) {
  header div.scroll-wrap div.header-table div.header-cell div.number.mainColor,
  .open-box-mob.no-empty,
  header.slide.fixed .open-box-mob.no-empty div.bg-color {
    background-color: #e59a05;
  }
}
div.catalog-body div.content div.images-content div.image-dots div.image-wrap-dot.active div.image-dot div.image-child.mainColor {
  border: 1px solid #e59a05;
}
div.catalog-body div.content div.tabs-content div.price-radio label.active.mainColor {
  border: 2px solid #e59a05;
}
div.switcher ul.switcher-tab.left li.active {
  background: #e59a05;
}
div.switcher ul.switcher-tab.left li span {
  border-bottom: 1px dashed #e59a05;
}
div.info-num div.info-num-element.dark div.title,
div.info-num div.info-num-element div.title {
  color: #e59a05;
}
div.slider-advantages .slick-dots li.slick-active {
  background: #e59a05;
  color: #fff;
}
div.form-block div.form-table div.form-cell div.text-wrap div.line {
  background: #e59a05;
}
.wrapper-mbox div.open-box.no-empty .before_pulse,
.wrapper-mbox div.open-box.no-empty .after_pulse {
  border: 1px solid #e59a05;
}
div.news div.slider-news.mainColor .slick-prev,
div.news div.slider-news.mainColor .slick-next,
.open-box.no-empty,
a.callphone {
  background-color: #e59a05;
}
